<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="main-content-header">
                    <h1>Блоги по программированию</h1>
                    <p>Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
                    <img src="/images/avatar.png" alt="">
                </div>
                <img src="<%= data.image %>" alt="">
                <div class="main-report">
                    <h3><%= data.titleBlog %></h3>
                    <% 
                        
                         if(data.author.id == user.id){ 
                    %>
                            <div class="main-report-menu">
                                <p>
                                    Еще
                                </p>
                                <div class="main-report-btn">
                                    <a href="/edit/<%=data._id%>"><button>Редактировать</button></a>
                                    <a ><button onclick="deleteBlog(`<%= data._id %>`, `<%= data.author._id %>`)" type="submit">Удалить</button></a>
                                </div>
                            </div>
                    <% 
                            };
                    
                    %>
                </div>
                <p>
                    <%=data.content%>
                </p>
                <div class="main-content-items">
                    <p>
                        <img src="/images/icons/calendar.png" alt="" srcset="">
                        12.06.2023
                    </p>
                    <p>
                        <img src="/images/icons/eye.png" alt="">
                        21
                    </p>
                    <p>
                        <img src="/images/icons/Shape.png" alt="">
                        4
                    </p>
                    <p>
                        <img src="/images/icons/Path.png" alt="">
                        <%= data.category.name %>
                    </p>
                    <p>
                        <img src="/images/icons/Vector.png" alt="">
                        <a href="/profile/<%= data.author._id %>"><%= data.author.full_name %></a>
                    </p>
                </div>
                <%
                        if(user && user._id){
                    %>
                        <form onSubmit="sendComment(event)">
                            <input type="hidden" value="<%= user._id %>"  id="comment_author"> 
                            <input type="hidden" value="<%= data._id %>" id="comment_blog">     
                            <div class="comment-input">
                                <textarea id="comment-text" placeholder="Введи текст комментария"></textarea>
                            </div>
                            <button type="submit" id="comment-button">Отправить</button>
                        </form>
                    <%
                        }else{
                    %>      
                            <div class="registration-link">
                                <p>Чтобы оставить комментарий <a href="/register">зарегистрируйтесь</a>, или <a href="/login">войдите</a> в аккаунт.</p>
                            </div>
                    <%
                        }
                    %>
                    <%
                        if(comments){
                            comments.forEach(comment =>{ 
                    %>
                                <div class="comment">
                                    <h4><%=  %> комментария</h4> 
                                    <div class="comment-item">
                                        <img src="/images/avatar.png" alt="">
                                       <p> Автор: <%= comment.authorId.full_name %> </p>
                                    </div>
                                    <p><%= comment.text %></p>
                                </div> 
                    <%
                            })
                        }
                    %>
                </div>
            </div>   
            <div class="categories">
                <h3>Категории</h3>
                <%category.forEach(categ =>{ %>
                    <a href="/<%=categ.key%>"><%=categ.name%></a>
                <%})%>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/commentBlog.js"></script>
    <script src="/js/deleteBlog.js"></script>
</body>
</html>