<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="main-content-header">
                    <h1>Блоги по программированию</h1>
                    <p>Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
                    <img src="/images/Manager.png" alt="">
                </div>
                <%
                data.forEach(item =>{
            %>
                    <div class="main-report">
                        <h3><%=item.titleBlog%></h3>
                    </div>
                    <p>
                        <%=item.content%>
                    </p>
                    <div class="main-content-items">
                        <p>
                            <img src="/images/icons/calendar.png" alt="" srcset="">
                            12.06.2023
                        </p>
                        <p>
                            <img src="/images/icons/eye.png" alt="">
                            21
                        </p>
                        <p>
                            <img src="/images/icons/Shape.png" alt="">
                            4
                        </p>
                        <p>
                            <img src="/images/icons/Path.png" alt="">
                            <%= item.category.name %>
                        </p>
                        <p>
                            <img src="/images/icons/Vector.png" alt="">
                            Nast1289
                        </p>
                    </div>
            <% 
                });
            %>
                <div class="comment">
                    <h4>2 комментария</h4> 
                    <div class="comment-item">
                        <img src="/images/avatar.png" alt="">
                        Сейтжанов Елнур
                    </div>
                    <p>В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.</p>
                    <div class="comment-item">
                        <img src="/images/avatar.png" alt="">
                        Сейтжанов Елнур
                    </div>
                    <p>В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.</p>
                    <div class="registration-link">
                        <p>Чтобы оставить комментарий <a href="/register">зарегистрируйтесь</a>, или <a href="/login">войдите</a> в аккаунт.</p>
                    </div>
                </div>
            </div>   
            <div class="categories">
                <h3>Категории</h3>
                <%category.forEach(categ =>{ %>
                    <a href="/<%=categ.key%>"><%=categ.name%></a>
                <%})%>
            </div>
        </div>
    </div>
</body>
</html>