<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container">
        <div class="main">
            <form action="/edit/:id" method="POST" enctype="multipart/form-data" class="form">
                <fieldset>
                    <input type="hidden" name="id" value="<%=data._id%>">
                </fieldset>
                <h3>Редактирование</h3>
                <fieldset class="fieldset">
                    <label for="">Название блога</label>
                    <input type="text"  value="<%= data.titleBlog %>" name="titleBlog">
                </fieldset>
                <fieldset class="fieldset">
                    <label for="">Категория блога</label>
                    <select name="category" id="">
                        <%
                            category.forEach(categ =>{
                                if(data.category == categ.id){
                        %>
                                <option selected value="<%= data.category %>"><%=categ.name%></option>
                        <%
                                }else{
                        %>
                                <option value="<%= data.category %>"><%=categ.name%></option>
                        <%
                               }
                            })
                        %>
                    </select>
                </fieldset>
                <fieldset class="fieldset-img">
                    <label for="">Выберите картинку</label>
                    <input type="file"  name="image">
                </fieldset>
                <fieldset class="fieldset-img fieldset-img-last-child">
                    <label for="">Описание блога</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"><%=data.content%></textarea>
                </fieldset>
                <fieldset class="fieldset">  
                    <button type="submit">Сохранить</button>
                </fieldset>
            </form>
        </div>
    </div>

</body>
</html>