<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container">
          <div class="main">
            <div class="main-content">
                <div class="main-content-header">
                    <h1>Блоги по программированию</h1>
                    <p>Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
                </div>
                <%
                    data.forEach(item =>{
                %>
                        <img src="<%= item.image %>" alt="">
                        <div class="main-report">
                            <a href="/detailPage/<%= item._id %>" onclick="rateBlog()"><h3><%=item.titleBlog%></h3></a>
                        </div>
                        <p>Автор: <%= item.author.full_name %></p>
                        <p>
                            <%=item.content%>
                        </p>
                        <div class="main-content-items">
                            <p>
                                <img src="/images/icons/calendar.png" alt="" srcset="">
                                12.06.2023
                            </p>
                            <p>
                                <img src="/images/icons/eye.png" alt="">
                                21
                            </p>
                            <p>
                                <img src="/images/icons/Shape.png" alt="">
                                4
                            </p>
                            <p>
                                <img src="/images/icons/Path.png" alt="">
                                <%= item.category.name %>
                            </p>
                            <p>
                                <img src="/images/icons/Vector.png" alt="">
                                <a href="/profile/<%= item.author._id %>"><%= item.author.full_name %></a>
                            </p>
                        </div>
                <% 
                    });
                %>
                <div class="pages">
                    <%
                        let localsString = ''
                        if(locals.category){
                            localsString = `category=${locals.category}&`
                        }
                        if(locals.search){
                            localsString = `search=${locals.search}&`
                        }
                        for(let i = 0; i < pages; i++){
                    %>
                            <a href="?<%= localsString %> page=<%= i %>"><%= i + 1 %></a>
                    <%
                        }
                    %>
                </div>
            </div>  
            <div class="categories">
                <h3>Категории</h3>
                <%category.forEach(categ =>{ %>
                    <a href="?category=<%=categ.key%>"><%=categ.name%></a>
                <%})%>
            </div>
        </div>
    </div>

</body>
</html>