<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/headerProfile.ejs')%>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="main-content-header">
                    <div class="main-report">
                        <h3>Мои блоги</h3>
                        <div class="new-blog-btn">
                            <% 
                                if(profileUser == user.id){
                            %>
                                    <a href="/new"><button>Новый блог</button></a>
                            <%
                                 };
                            %>
                        </div>
                    </div>
                </div>
                <% 
                    data.forEach(item =>{
                %>
                <img src="<%= item.image %>" alt="">
                <div class="main-report">
                    <a href="/detailPage/<%= item._id %>"><h3><%=item.titleBlog%></h3></a>
                    <% 
                        if(profileUser == user.id){ 
                    %>
                    <div class="main-report-menu">
                        <p>
                            Еще
                        </p>
                        <div class="main-report-btn">
                            <a href="/edit/<%=item._id%>"><button>Редактировать</button></a>
                            <a onclick="deleteBlog(`<%= item._id %>`, `<%= item.author._id %>`)"><button>Удалить</button></a>
                        </div>
                    </div>
                    <% 
                        };
                    %>
                </div>
                <p> <%= item.content %> </p>
                <div class="main-content-items">
                    <p>
                        <img src="/images/icons/calendar.png" alt="" srcset="">
                        12.06.2023
                    </p>
                    <p>
                        <img src="/images/icons/eye.png" alt="">
                        21
                    </p>
                    <p>
                        <img src="/images/icons/Shape.png" alt="">
                        4
                    </p>
                    <p>
                        <img src="/images/icons/Path.png" alt="">
                        <%= item.category.name%>
                    </p>
                    <p>
                        <img src="/images/icons/Vector.png" alt="">
                        <a href="/profile/<%= item.author._id %>"><%= item.author.full_name %></a>
                    </p>
                </div>
                <%
                    }); 
                %>
            </div>  
    <div class="profile categories">
        <h3>Профиль</h3>
        <div class="profile-img">
            <img src="/images/avatar.png" alt="">
        </div>
        <div class="profile-info">
            <p><%=user.full_name%></p>
            <p>В основном пишу про веб - разработку, на React & Redux</p>
            <a class="edit-btn">Редактировать</a>
            <a href="/api/signout/" class="edit-btn logoout-btn">Выход</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/deleteBlog.js"></script>
</body>
</html>