<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/headerProfile.ejs')%>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="main-content-header">
                    <h1>Блоги по программированию</h1>
                    <p>Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
                    <img src="/images/Manager.png" alt="">
                </div>
                <%
                   data.forEach(item =>{
                %>
                    <div class="main-report">
                        <h3><%=item.titleBlog%></h3>
                    </div>
                    <p>
                        <%=item.content%>
                    </p>
                    <div class="main-content-items">
                        <p>
                            <img src="/images/icons/calendar.png" alt="" srcset="">
                            12.06.2023
                        </p>
                        <p>
                            <img src="/images/icons/eye.png" alt="">
                            21
                        </p>
                        <p>
                            <img src="/images/icons/Shape.png" alt="">
                            4
                        </p>
                        <p>
                            <img src="/images/icons/Path.png" alt="">
                            <%= item.category.name %>
                        </p>
                        <p>
                            <img src="/images/icons/Vector.png" alt="">
                            Nast1289
                        </p>
                    </div>
            <% 
                });
            %>
                <div class="comment-input">
                    <input type="text" placeholder="Введи текст комментария">
                </div>
                <button id="comment-button">Отправить</button>
            </div>
            <div class="categories">
                <h3>Категории</h3>
                <%category.forEach(categ =>{ %>
                    <a href="/<%=categ.key%>"><%=categ.name%></a>
                <%})%>
            </div> 
        </div> 
    </div>    
</body>
</html>